<style>
    ion-input {
        border-bottom: 1px solid rgb(214, 209, 209);
    }

    ion-select {
        border-bottom: 1px solid rgb(185, 182, 182);
    }
</style>

<ion-header id="navigationbar">
    <ion-navbar color="primary">
        <ion-title>MANAGE</ion-title>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-buttons end>
            <button ion-button color="light" (click)="onEdit()">EDIT</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-row>
        <div col-3>
            <img src="assets/imgs/user.png" alt="User" height="70" style="border-radius:70%">
        </div>
        <ion-item col>
            <ion-label style="font-weight:bold;" floating>Name</ion-label>
            <ion-input type="text" [(ngModel)]="name" [disabled]="!visible"></ion-input>
        </ion-item>
    </ion-row>
    <ion-item>
        <ion-label style="font-weight:bold;" floating>Username</ion-label>
        <ion-input type="text" [(ngModel)]="user" [disabled]="!visible"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label style="font-weight:bold;" floating>Password</ion-label>
        <ion-input type="text" [(ngModel)]="pwd" [disabled]="!visible"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label style="font-weight:bold;" floating>Select team:</ion-label>
        <ion-select multiple="true" [(ngModel)]="selectGroup">
            <ion-option [disabled]="!visible" *ngFor="let team_name of group_name_copy;let i=index" [selected]="team_name.status === true"
                [value]="team_name.emp_team">{{team_name.emp_team}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-row style="margin-top:10px;">
        <div col>
            <button ion-button block color="secondary" [disabled]="!visible"(click)="onUpdate(name,user,pwd,selectGroup)" >UPDATE</button>
        </div>
    </ion-row>
</ion-content>