 <style>
    ion-label {
        color: rgb(133, 125, 125);
    }

    ion-item {
        border-bottom: 1px solid rgb(241, 233, 233);
    }

    .error {
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        color: red;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1em;
    }

    img {

        display: block;
        margin: 0 auto;
        margin-top: 15%;

    }
</style>
<ion-content>
    <form padding-horizontal (ngSubmit)="checkUser(login)" #loginForm="ngForm">
        <img src="assets/imgs/login.png" alt="USER">
        <br>

        <ion-item padding-horizontal>
            <ion-label floating>Username</ion-label>
            <ion-input type="text" [(ngModel)]="login.userName" name="username" required></ion-input>
        </ion-item>
        <ion-item padding-horizontal>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" [(ngModel)]="login.psw" name="password" required></ion-input>
        </ion-item>
        <p class="error" *ngIf="!valid">* incorrect username or password</p>
        <div padding text-center>
            <button ion-button padding block color="priamry" type="submit" [disabled]="!loginForm.form.valid">Login</button>
        </div>

    </form>
</ion-content>
