<ion-header id="navigationbar">
    <ion-navbar color="primary">
        <ion-title>DAILY</ion-title>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-item>
        <ion-label style="font-weight:bold">Choose Date:</ion-label>
        <ion-datetime displayFormat="DDDD MMM D,YYYY" min="2018-01-23" max="{{date}}" [(ngModel)]="selected_date" (ionChange)="dailyStatus(selected_date)"></ion-datetime>

    </ion-item>
    <br>
    <chart [options]="options" style="display:block;margin:auto;">
        <series>
            <point (select)="onPointSelect($event)"></point>
        </series>
    </chart>