<ion-content>
  <ion-tabs #myTabs color="primary">
    <ion-tab [root]="tab1Root" tabTitle="DAILY">DAILY</ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="MONTHLY">MONTHLY</ion-tab>
  </ion-tabs>
</ion-content>