<ion-header id="navigationbar">
    <ion-navbar color="primary">
        <ion-title>TOTAL</ion-title>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>
<ion-footer>
    <ion-toolbar color="primary">
        <ion-searchbar placeholder="Search" showCancelButton #search></ion-searchbar>
    </ion-toolbar>
</ion-footer>
<ion-content>
    <ion-list class="chat-sliding-demo">
        <ion-item-sliding *ngFor="let emp of (total_emp | searchFilter:search.value)">
            <ion-item>
                <ion-avatar item-start>
                    <img src="assets/imgs/contact.png" alt="Contact" height="50">
                </ion-avatar>
                <h2>{{emp.emp_name}}</h2>
                <p>{{emp.emp_id}}</p>
                <ion-note item-end *ngIf="emp.day_status=='P' || emp.day_status == 'L'" style="color:green">
                    IN
                </ion-note>
                <ion-note item-end *ngIf="emp.day_status=='A'" style="color:red">
                    OUT
                </ion-note>
                <ion-note item-end *ngIf="emp.day_status=='PERM'" style="color:orange">
                    PERMISSION
                </ion-note>
                <ion-note item-end *ngIf="emp.day_status=='OD'" style="color:rgb(11, 156, 11)">
                    ON DUTY
                </ion-note>
            </ion-item>
            <ion-item-options *ngIf="emp.day_status=='A' || emp.day_status=='PERM' || emp.day_status=='OD'">
                <button ion-button color="danger" (click)="permission('PERM',emp)">
                    <ion-icon name="time"></ion-icon>
                    PERMISSION
                </button>
                <button ion-button color="secondary" (click)="onDuty('OD',emp)">
                    <ion-icon name="bicycle"></ion-icon>
                    ON DUTY
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>