<ion-header id="navigationbar">
    <ion-navbar color="primary">
        <ion-title>MONTHLY</ion-title>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let date of dates_copy">
            <ion-row>
                <ion-col col-3>
                    <img src="assets/imgs/date.png" alt="Contact" height="50">
                </ion-col>
                <ion-col col-9 style="margin-top:0.75em;" (click)="sendDate(date.date)">
                    {{date.date}}
                    <img src="assets/imgs/next.png" alt="NEXT" height="30" style="float:right">
                </ion-col>
            </ion-row>
            <ion-list *ngIf="date.isVisible">
                <!-- <div *ngFor="let emp of emp_details" style="background-color:rgb(236, 236, 236);">
                    <ion-row>
                        <ion-col col-3>
                            <img src="assets/imgs/contact.png" alt="Contact" height="50">
                        </ion-col>
                        <ion-col col-6>
                            <ion-row>
                                {{emp.emp_name | lowercase}}
                            </ion-row>
                            <ion-row>
                                <span style="color:rgb(177, 163, 163);">{{emp.emp_id}}</span>
                            </ion-row>
                        </ion-col>
                        <ion-col col>
                            <p *ngIf="emp.day_status == 'A'" style="color:red">OUT</p>
                            <p *ngIf="emp.day_status =='P' || emp.day_status == 'L'" style="color:green">IN</p>
                        </ion-col>
                    </ion-row>
                </div> -->


                <ion-item *ngFor="let emp of emp_details" style="background-color:rgb(238, 237, 236)">
                    <ion-avatar item-start>
                        <img src="assets/imgs/contact.png" alt="Contact" height="50">
                    </ion-avatar>
                    <h2 style="font-size:15px;">{{emp.emp_name}}</h2>
                    <p style="color:rgb(182, 176, 176)">{{emp.emp_id}}</p>
                    <ion-note item-end *ngIf="emp.day_status == 'A'" style="color:red">
                        OUT
                    </ion-note>
                    <ion-note item-end *ngIf="emp.day_status =='P' || emp.day_status == 'L'" style="color:green">
                        IN
                    </ion-note>
                </ion-item>

            </ion-list>
        </ion-item>
    </ion-list>
</ion-content>