<style>
  #top {
    position: fixed;
    left: 0;
    right: 0;
    height: 40%;
  }

  #bottom {
    position: fixed;
    left: 0;
    right: 0;
    height: 60%;
  }

  #top {
    top: 0;
    background-color: #488aff;
  }

  #bottom {
    bottom: 0;
  }

  #element {
    display: inline-block;
    vertical-align: middle;
    font: 16px/1 Arial sans-serif;
  }

  .user_name {
    height: 300px;
    text-align: center;
    font: 0/0 a;
  }

  .user_name:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  .tile {
    border: 2px solid white;


  }

  .present_image {
    max-width: 50%;
  }

  .cls {
    width: 50%;
    height: 50%;
    float: left;
    border: 4px solid #d4dce9;
  }

  #div1 {
    background: white;
  }

  #div2 {
    background: white;
  }

  #div3 {
    background: white;
  }

  #div4 {
    background: white;
  }
</style>

<ion-header id="navigationbar">
  <ion-toolbar color="primary" hideBackButton>
    <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
      <ion-title>HOME</ion-title>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    
  <div id="top">
    <div id="home">
      <div class="user_name">
        <div id="element">
          <p style="vertical-align:middle">
            <img src="assets/imgs/boss.png" class="user_pic" height="70" alt="USER">
            <span style="margin-top:2px">
              <br>
              <br>
              <span style="font-size:15px;font-family:Times New Roman;color:white">{{this.storage[1].admin_name}}</span>
              <br>
              <p style="font-size:15px;color:rgb(225, 231, 231)">@{{this.storage[1].admin_role|lowercase}}</p>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="bottom">
    <div id="div1" class="cls" (click)="presentNavigate()">
      <img src="assets/imgs/boy1.png" height="100" alt="USER" style="display:block;margin:auto;">
      <p style="text-align:center;color:grey">
        <span>PRESENT :</span>
        <span style="color:grey">{{current_present + current_late}}</span>
      </p>
    </div>
    <div id="div2" class="cls" (click)="absentNavigate()">
      <img src="assets/imgs/boy.png" height="100" alt="USER" style="display:block;margin:auto;">
      <p style="text-align:center;color:grey">
        <span>ABSENT :</span>
        <span style="color:grey">{{current_absent}}</span>
      </p>
    </div>
    <div id="div3" class="cls" (click)="teamsNavigate()">

      <img src="assets/imgs/group2.png" height="100" alt="USER" style="display:block;margin:auto;">
      <p style="text-align:center;color:grey;margin-top:0px">
        <span>GROUPS :</span>
        <span style="color:grey">{{total_team}}</span>
      </p>
    </div>
    <div id="div4" class="cls" (click)="totalNavigate()">
      <img src="assets/imgs/group1.png" height="100" alt="USER" style="display:block;margin:auto;">
      <p style="text-align:center;color:grey;margin-top:0px">
        <span>TOTAL :</span>
        <span style="color:grey">{{total_emp}}</span>
      </p>
    </div>
  </div>
  <ion-footer style="background-color:#488aff">
    <p style="font-size:10px;margin-left:10px;color:white">Last Refresh:
      <span style="font-weight:normal">{{current_date}}&nbsp;&nbsp;{{current_time}}</span>
    </p>
  </ion-footer>
</ion-content>