<ion-header id="navigationbar">
    <ion-navbar color="primary">
        <ion-title>GROUPS</ion-title>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let group_name of teams_info_copy">
            <ion-row>
                <ion-col col-2>
                    <img src="assets/imgs/group.png" alt="Contact" height="50">
                </ion-col>
                <ion-col col-10 style="margin-top:0.75em;" (click)="groupMembers(group_name.emp_team)">
                    {{group_name.emp_team}}
                    <img src="assets/imgs/next.png" alt="NEXT" height="30" style="float:right">
                </ion-col>
            </ion-row>
            <ion-list *ngIf="group_name.isvisible">
                <ion-list>
                    <ion-item *ngFor="let grp of group_members" style="background-color:rgb(238, 237, 236)">
                        <ion-avatar item-start>
                            <img src="assets/imgs/contact.png" alt="Contact" height="50">
                        </ion-avatar>
                        <h2 style="font-size:15px;">{{grp.emp_name}}</h2>
                        <p style="color:rgb(182, 176, 176)">{{grp.emp_id}}</p>
                        <ion-note item-end>
                            <p *ngIf="grp.day_status == 'A'" style="color:red">OUT</p>
                            <p *ngIf="grp.day_status =='P' || grp.day_status == 'L'" style="color:green">IN</p>
                        </ion-note>
                    </ion-item>
                </ion-list>
            </ion-list>
        </ion-item>
    </ion-list>
</ion-content>