<ion-header id="navigationbar">
    <ion-navbar color="primary">
        <ion-title>MONTHLY</ion-title>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-item>
        <ion-label style="font-weight:bold;">Month & Year:</ion-label>
        <ion-datetime displayFormat="MMM YYYY" min="2018" max="{{monthYear}}" [(ngModel)]="selected_monthYear" (ionChange)="monthlyStatus(selected_monthYear)"></ion-datetime>

    </ion-item>
    <br>
    <chart [options]="options" style="display:block;margin:auto;">
        <series>
            <point (select)="onPointSelect($event)"></point>
        </series>
    </chart>
</ion-content>