
<ion-header id="navigationbar">
        <ion-navbar color="primary">
            <ion-title>DETAILS</ion-title>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-navbar>
    </ion-header>

<ion-content>
    <ion-tabs #myTabs tabsPlacement="bottom" color="primary">
        <ion-tab [root]="tab1Root" tabTitle="PRESENT">PRESENT</ion-tab>
        <ion-tab [root]="tab2Root" tabTitle="ABSENT">ABSENT</ion-tab>
    </ion-tabs>
</ion-content>