<ion-content>
    <ion-list>
        <ion-item *ngFor="let emp of absent">
            <ion-avatar item-start>
                <img src="assets/imgs/contact.png" alt="Contact" height="50">
            </ion-avatar>
            <h2 style="font-size:15px;">{{emp.emp_name}}</h2>
            <p style="color:rgb(182, 176, 176)">{{emp.emp_id}}</p>
            <ion-note item-end *ngIf="emp.day_status==undefined" style="color:green">
                {{emp.emp_in_time}}
            </ion-note>
        </ion-item>
    </ion-list>
</ion-content>